@import 'tailwindcss';
@plugin '@tailwindcss/forms';
@plugin 'daisyui';
@plugin 'daisyui/theme' {
	name: 'status';
	default: true;
	prefersdark: true;
	color-scheme: 'dark';
	--color-base-100: oklch(14% 0.004 49.25);
	--color-base-200: oklch(21% 0.006 56.043);
	--color-base-300: oklch(26% 0.007 34.298);
	--color-base-content: oklch(97% 0.001 106.424);
	--color-primary: oklch(70% 0.165 254.624);
	--color-primary-content: oklch(30% 0.056 229.695);
	--color-secondary: oklch(78% 0.115 274.713);
	--color-secondary-content: oklch(25% 0.09 281.288);
	--color-accent: oklch(84% 0.143 164.978);
	--color-accent-content: oklch(26% 0.051 172.552);
	--color-neutral: oklch(21% 0.006 56.043);
	--color-neutral-content: oklch(98% 0.001 106.423);
	--color-info: oklch(86% 0.127 207.078);
	--color-info-content: oklch(28% 0.091 267.935);
	--color-success: oklch(79% 0.209 151.711);
	--color-success-content: oklch(26% 0.065 152.934);
	--color-warning: oklch(85% 0.199 91.936);
	--color-warning-content: oklch(28% 0.066 53.813);
	--color-error: oklch(71% 0.194 13.428);
	--color-error-content: oklch(27% 0.105 12.094);
	--radius-selector: 0.25rem;
	--radius-field: 0.25rem;
	--radius-box: 0.25rem;
	--size-selector: 0.21875rem;
	--size-field: 0.21875rem;
	--border: 1px;
	--depth: 0;
	--noise: 1;
}

html {
	scroll-behavior: smooth;
}

.checkbox {
	@apply bg-transparent;
}

.toggle[type='checkbox']:checked {
	background-image: none;
}
